doctype html
html
  body
    h1 Cập nhật mật khẩu
    p Đây là email để cập mật khẩu của bạn, nếu bạn nhập mã xác nhận bên dưới thì mật khẩu sẽ tự động cập nhật lại thành số điện của bạn.
    p Đây là mã xác nhận của bạn:
    p
      | Token: #{token}

